<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />
  <title>Sub to letter</title>
</head>

<body>
  <center>
    <div class="container" style=" max-width: 768px; max-height: 100%;">
      <div class="row justify-content-center">
        <div class="col-sm-12">
          <div
            style="text-align: center;box-shadow: 0px 3px 3px #cccccc;filter: blur(16%); width: 100%; vertical-align: middle">
            <div>
              <img src="http://103.102.46.219:2500/CDN/Asset%209@4x%20(1).png"
                style="text-align: center; width: 10%; padding-top: 20px; width:100px;" alt="" />
            </div>
          </div>
          <div style=" margin-top: 5%;">
            <img style="width:6%;" src="http://103.102.46.219:2500/CDN/Asset2.png" alt="" />
            <h2 class="font"
              style="text-align: center;color: #4b4f56; font-family: 'Montserrat'; font-size: 28px; font-weight: 800">
              Hi {{name}} , welcome to FHI FashionStore!
              <!-- (User Name) -->
            </h2>
            <p style="margin-left: 3%; font-family:'Montserrat' !important; color: #4b4f56; font-size: 18px ">
              You have been added to our pool of early access user's. We will keep you posted on the latest updates and
              news on our launch timeline.
            </p>
          </div>
          <div class="col-sm-8" style="text-align: center;">
            <hr /> <!--  vertical line -->
            <p style="font-family: 'Montserrat'; padding-top: 4%; color: #4B4F56; font-size: 20px; font-weight: 600">
              Your Passord is :- {{password}}
            </p>
          </div>
        </div>
        <div class="row justify-content-center" style="padding-top: 1%; margin-left: 1%">
          <hr style="color: #4b4f56;">
          <div class="col text-center">
            <p
              style="font-family: 'Montserrat'; padding-top: 2%;  text-align-last: center; color: #4B4F56 ; padding-bottom: 25px; font-size: 18px">
              If you are in need of marketing and advertising services, visit our sub-brand FashionStore website to get
              a personalized quotation based on your needs.
            </p>
          </div>
          <div class="row justify-content-center">
            <h5 style="font-family:'Montserrat'; color:#BFBFBF;  text-align: center; font-size: 17px;">
            #FashionStore #FashionStoreMarketing
            </h5>
          </div>
  </center>
  </div>
  </div>

  <hr style="color: #4b4f56; " />
  <table  style="margin-top: -20px; background-color:#2c3e50; width: 100%;" > 
    <tr>
      <th><h5 style="color: #ecf0f1; padding-left: 5px; font-size: 15px;" > <i class="fa fa-copyright" style="font-size:20px;color:#ecf0f1;"></i> 2020 FashionStore.com</h5>
      </th>
      <th><img src="https://res.cloudinary.com/dxqwnvudu/image/upload/v1587120824/FashionStore/emailtemplateImages/logos/logo-3_zdaftk.png" /></th>
      <th><img src="https://res.cloudinary.com/dxqwnvudu/image/upload/v1587120824/FashionStore/emailtemplateImages/logos/logo-4_by6uzw.png" /></th>
      <th><img src="https://res.cloudinary.com/dxqwnvudu/image/upload/v1587120824/FashionStore/emailtemplateImages/logos/logo-1_u2stqh.png" /></th>
      <th><img src="https://res.cloudinary.com/dxqwnvudu/image/upload/v1587120824/FashionStore/emailtemplateImages/logos/logo-2_borfid.png" /></th>
      <th><img src="https://res.cloudinary.com/dxqwnvudu/image/upload/v1587120824/FashionStore/emailtemplateImages/logos/logo-5_cqhfeh.png" /></th>
    </tr>
  </table>
  <script>
    function redirect(e) {
      window.open(e)
    }
  </script>
  </center>
  </div>
</body>

</html>