<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    /> 
    <link
    href="https://fonts.googleapis.com/css?family=Montserrat"
    rel="stylesheet"
  />
    <title>Sub to letter</title>
  </head>
  <body>
    <center>
    <div class="container" style=" max-width: 768px; max-height: 100%;">
      <div class="row justify-content-center">
        <div class="col-sm-12">
          <div style="text-align: center;box-shadow: 0px 3px 3px #cccccc;filter: blur(16%); width: 100%; vertical-align: middle"  >
          <div>
            <img src="http://103.102.46.219:2500/CDN/Asset%209@4x%20(1).png"style="text-align: center; width: 10%; padding-top: 20px; width:100px;" alt=""  />
            </div>
          </div>
          <div style=" margin-top: 5%;">
            <img style="width:6%;" src="http://103.102.46.219:2500/CDN/Asset2.png" alt="" />
            <h2 class="font" style="text-align: center;color: #4b4f56; font-family: 'Montserrat'; font-size: 28px; font-weight: 800" >
            Thanks Subscribe Newsletter in Fashi Store       <!-- (User Name) -->
            </h2>
            <p style="margin-left: 3%; font-family:'Montserrat' !important; color: #4b4f56; font-size: 18px ">
                You have been added to our pool of early access user's. We will keep you posted on the latest updates and news on our launch timeline.     
            </p>    
          </div>
          <div class="col-sm-8" style="text-align: center;">
           <hr />  <!--  vertical line -->
            <p style="font-family: 'Montserrat'; padding-top: 4%; color: #4B4F56; font-size: 20px; font-weight: 600">
            Fall in love with our amazing services! 
            </p>
          </div>
      </div>
        <div class="row justify-content-center" style="padding-top: 1%; margin-left: 1%"  >
         <center>   <!--  contetnt table start -->
        <table style="width: 100%; " > 
            <tr>
                <td style="vertical-align: top"><img src="https://res.cloudinary.com/dxqwnvudu/image/upload/v1587120978/FashionStore/emailtemplateImages/mains/offer02c_k5sojh.png" style="width: 100px;"alt="" /></td>
                <td width="50%" style="vertical-align: top">
                      <h5 style="font-weight: 600; font-family: 'Montserrat'; color: #4b4f56; font-size:16px; font-size: 16px;" >
                      Mass Email & Email Marketing Solution 
                      </h5>
                </td>
                <td style="vertical-align: top">
                    <img src="https://res.cloudinary.com/dxqwnvudu/image/upload/v1587120985/FashionStore/emailtemplateImages/mains/offer01_nbnk2v.png"  style="width: 100px" alt="">
                </td>
                <td  width="50%" style="vertical-align: top">
                    <h5  style="font-weight: 600; font-family: 'Montserrat'; color: #4b4f56; font-size:16px;"  >
                       Task Management Tool 
                  </h5>
                  </td>
            </tr>
            <tr>
                <td style="vertical-align: top"> <img src="https://res.cloudinary.com/dxqwnvudu/image/upload/v1587120969/FashionStore/emailtemplateImages/mains/offer03_b4nq9n.png" style="width: 100px;" alt="" /></td>
                <td style="vertical-align: top">
                    <h5 style="font-weight: 600; font-family: 'Montserrat'; color: #4b4f56; font-size:16px;" >
                    Influencer Search Engine 
                    </h5>      
                </td>
                <td style="vertical-align: top">
                    <img src="https://res.cloudinary.com/dxqwnvudu/image/upload/v1587120874/FashionStore/emailtemplateImages/products/women-large_sszx5b.jpg"style="width: 100px;" alt=""  />
                </td>
                <td style="vertical-align: top"  width="50%"><h5 style="font-weight: 600; font-family: 'Montserrat'; color: #4b4f56; font-size:16px;"  >
                   Create Your Professional Account 				
                </h5>
                </td>
            </tr>
            <tr>
              <td style="vertical-align: top">
                    <img  src="https://res.cloudinary.com/dxqwnvudu/image/upload/v1587120876/FashionStore/emailtemplateImages/products/man-large_ke7igc.jpg" style="width: 100px;" alt=""  />
              </td>
                <td style="vertical-align: top">
                    <h5 style="font-weight: 600; font-family: 'Montserrat'; color: #4b4f56; font-size:16px;">
                    Full-Stack Influencer & ROI Analytics
                    </h5>
                </td>
                <td style="vertical-align: top">
                    <img src="https://res.cloudinary.com/dxqwnvudu/image/upload/v1587120874/FashionStore/emailtemplateImages/products/women-2_cnyyq9.jpg"  style="width: 100px;"  alt=""  />
                </td>
                <td style="vertical-align: top">
                  <h5 style="font-weight: 600; font-family: 'Montserrat'; color: #4b4f56; font-size:16px;">
                  Events & Exhibition Center	
                </h5>
                </td>
            </tr>
            <tr style="vertical-align: top">
                <td> <img src="https://res.cloudinary.com/dxqwnvudu/image/upload/v1587120875/FashionStore/emailtemplateImages/products/product-4_cw7cyb.jpg" style="width: 100px;" alt="" /></td>
                <td style="vertical-align: top">
                    <h5
                      style="font-weight: 600; font-family: 'Montserrat'; color: #4b4f56; font-size:16px;"  >
                    Build User Network		
                    </h5>
                </td>
                <td style="vertical-align: top">
                    <img src="https://res.cloudinary.com/dxqwnvudu/image/upload/v1587120875/FashionStore/emailtemplateImages/products/product-4_cw7cyb.jpg"style="width: 100px;" alt=""  />
                </td>
                <td style="vertical-align: top"><h5 style="font-weight: 600; font-family: 'Montserrat'; color: #4b4f56; font-size:16px;"  >
                Industrial News-Hub
                </h5>
                </td>
            </tr>
          </table>   <!--  contetnt table end -->
        </center>
            <hr style="color: #4b4f56;">
            <div class="col text-center">
              <p style="font-family: 'Montserrat'; padding-top: 2%;  text-align-last: center; color: #4B4F56 ; padding-bottom: 25px; font-size: 18px">
            If you are in need of marketing and advertising services, visit our sub-brand FashionStore website to get a personalized quotation based on your needs.
            </p>
        <center>
         <a onclick="location.href ='http://yunlymedia.com/'" style=" cursor:pointer; color: #fb9827;text-align: center; padding: 10px 12px ;font-family: 'Montserrat'; border-radius: 30px; width: 200px; height: 40px; background-color: white; border: solid 1px #fb9827 ; font-size: 15px"
            onMouseOver="this.style.backgroundColor='#fb9827';this.style.color='white'" onmouseout="this.style.backgroundColor='#ffffff';this.style.color='#fb9827'" 
            >
            Visit FashionStore
        </a>
        </center>
        </div>
      <div class="row justify-content-center">
        <center>
          <img
            src="http://103.102.46.219:2500/CDN/Asset%209@4x%20(1).png"style="text-align: center; width: 10%; padding-top: 50px;"
            alt=""
          />
        </center>
      </div>
      <div class="row justify-content-center">
          <h5
            style="font-family:'Montserrat'; color:#BFBFBF;  text-align: center; font-size: 17px;"
          >
            #FashionStore #FashionStoreMarketing
          </h5>
        </div>
      </center>
      <div class="row justify-content-center" style="margin-top: 1%; margin-bottom: 20px;">
        <center> <!--  social media  icons -->
          <a href="https://www.instagram.com/yunly_international/" >
            <img src="https://www.freepnglogos.com/uploads/instagram-logos-png-images-free-download-2.png" style="width: 28px; height: 30px;" alt=""></a> 

          <a href="https://www.facebook.com/YunlyMarketing/">
              <img src="https://pngimg.com/uploads/facebook_logos/facebook_logos_PNG19751.png" style="width: 32px;  height: 30px; padding-left: 15px;" alt=""></a>

          <a href="https://twitter.com/yunlyInt"> 
             <img src="https://pngimg.com/uploads/twitter/twitter_PNG9.png" style="width: 28px; padding-left: 15px; height: 30px;" alt=""></a>

          
        </center><!--  social media  icons -->
      </div>
    </div>
  </div>

  <hr style="color: #4b4f56; "  />
  <table  style="margin-top: -20px; background-color:#2c3e50; width: 100%;" > 
    <tr>
      <th><h5 style="color: #ecf0f1; padding-left: 5px; font-size: 15px;" > <i class="fa fa-copyright" style="font-size:20px;color:#ecf0f1;"></i> 2020 FashionStore.com</h5>
      </th>
      <th><img src="https://res.cloudinary.com/dxqwnvudu/image/upload/v1587120824/FashionStore/emailtemplateImages/logos/logo-3_zdaftk.png" /></th>
      <th><img src="https://res.cloudinary.com/dxqwnvudu/image/upload/v1587120824/FashionStore/emailtemplateImages/logos/logo-4_by6uzw.png" /></th>
      <th><img src="https://res.cloudinary.com/dxqwnvudu/image/upload/v1587120824/FashionStore/emailtemplateImages/logos/logo-1_u2stqh.png" /></th>
      <th><img src="https://res.cloudinary.com/dxqwnvudu/image/upload/v1587120824/FashionStore/emailtemplateImages/logos/logo-2_borfid.png" /></th>
      <th><img src="https://res.cloudinary.com/dxqwnvudu/image/upload/v1587120824/FashionStore/emailtemplateImages/logos/logo-5_cqhfeh.png" /></th>
    </tr>
  </table>
  <script>
    function redirect(e){
      window.open(e)
    }
  </script>
  </center>
</div>
  </body>
</html>


